@model IEnumerable<SmartDataHub.Models.InputMonitoring>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="~/lib/SignalR/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/allViews.css" rel="stylesheet" />
</head>

<script>
    $(document).ready(function () {
        let hubConnection = new signalR.HubConnection('/SmartDataSignalRhub');

        hubConnection.on('NoConnectionToGatewayHub', function () {

            $("#connectionState").text("no connection to master SmartAgent");

        });

        hubConnection.on('ConnectionToGatewayHubEstablished', function () {

            $("#connectionState").text("");

        });

        $("#activateConfigButton").click(function () {

            hubConnection.invoke('InitializeNewMachineConfigurations');

        });

        hubConnection.start();
    });
</script>


<h2>Monitoring Configuration</h2>
<h3 id="connectionState"></h3>

<p>
    <a asp-action="Create">Add Monitoring</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonitoringName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InputPin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputPin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartAgent)
            </th>
            <th>
                @*<button id="activateConfigButton">Activate Config</button>*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitoringName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InputPin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputPin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SmartAgent.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InputMonitoringId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.InputMonitoringId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.InputMonitoringId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
